<div class="container">
  <app-go-back />
  <form (ngSubmit)="submitForm(form)" #form="ngForm">
    <app-add-feedback-icon-svg class="icon" />
    <h1 class="title">Create New Feedback</h1>
    <label>
      <hgroup>
        <h1>Feedback Title</h1>
        <p>Add a short, descriptive headline</p>
      </hgroup>
      <input class="control" [class.invalid]="isInvalid(titleInput, form)" name="title"
          [(ngModel)]="title" required #titleInput="ngModel">
      <p class="invalid" *ngIf="isInvalid(titleInput, form)">{{ requiredError }}</p>
    </label>
    <label>
      <hgroup>
        <h1>Category</h1>
        <p>Choose a category for your feedback</p>
      </hgroup>
      <select class="control" name="category" [(ngModel)]="category">
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </label>
    <label>
      <hgroup>
        <h1>Feedback Detail</h1>
        <p>Include any specific comments on what should be improved, added, etc.</p>
      </hgroup>
      <textarea class="control" [class.invalid]="isInvalid(detailText, form)" name="detail"
          [(ngModel)]="description" required #detailText="ngModel"></textarea>
      <p class="invalid" *ngIf="isInvalid(detailText, form)">{{ requiredError }}</p>
    </label>
    <div class="buttons">
      <button class="cancel-button" type="button" (click)="cancel()">Cancel</button>
      <button class="submit-button">Add Feedback</button>
    </div>
  </form>
</div>
