<app-go-back />
<form (ngSubmit)="submitForm(form)" #form="ngForm">
  <app-add-feedback-icon-svg />
  <h1>Create New Feedback</h1>
  <label>
    <hgroup>
      <h1>Feedback Title</h1>
      <p>Add a short, descriptive headline</p>
    </hgroup>
    <input name="title" [(ngModel)]="title" required #titleInput="ngModel">
    <p *ngIf="isRequired(titleInput, form)">{{ requiredError }}</p>
  </label>
  <label>
    <hgroup>
      <h1>Category</h1>
      <p>Choose a category for your feedback</p>
    </hgroup>
    <select name="category" [(ngModel)]="category">
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
  </label>
  <label>
    <hgroup>
      <h1>Feedback Detail</h1>
      <p>Include any specific comments on what should be improved, added, etc.</p>
    </hgroup>
    <textarea name="detail" [(ngModel)]="detail" required #detailText="ngModel"></textarea>
    <p *ngIf="isRequired(detailText, form)">{{ requiredError }}</p>
  </label>
  <button type="button" (click)="cancel()">Cancel</button>
  <button>Add Feedback</button>
</form>
