@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin form-control-outline {
  &:is(:hover, :focus-visible):not(.error) {
    outline: 1px solid #4661E6;
    outline-offset: -1px;
  }

  &.error {
    outline: 1px solid #D73737;
    outline-offset: -1px;
  }
}
