@use 'index' as *;

:host {
  display: block;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  gap: 8px;
  padding: 14px 0 8px;
  border-radius: 10px;
  background: #F2F4FE;

  &:is(:hover, :focus-visible):not(.active) {
    background: #CFD7FF;
  }

  &.active {
    background: #4661E6;
  }

  @include mobile {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 69px;
    height: 32px;
    padding: 0;
  }
}

span {
  color: #3A4374;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.18px;

  &.active {
    color: #FFF;
  }
}
