@use 'index' as *;

:host {
  display: block;
  position: relative;
  width: 255px;
  height: 137px;
  border-radius: 10px;

  @include tablet {
    width: 223px;
    height: 178px;
  }

  @include mobile {
    border-radius: 0;
    height: 72px;
    width: 100%;
    background: radial-gradient(166.82% 166.82% at 103.90% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  }
}

hgroup {
  position: absolute;
  bottom: 24px;
  left: 24px;

  @include mobile {
    bottom: unset;
    top: 16px;
  }
}

.title {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.25px;

  @include mobile {
    font-size: 15px;
    letter-spacing: -0.187px;
  }
}

.subtitle {
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.75;

  svg {
    @include mobile {
      width: 100vw;
      height: 72px;
    }
  }

  @include mobile {
    font-size: 13px;
  }
}
