<hgroup>
  <h1 class="title">Frontend Mentor</h1>
  <p class="subtitle">Feedback Board</p>
</hgroup>
<!-- DESKTOP -->
<svg *ngIf="isDesktop" width="255" height="137" viewBox="0 0 255 137" fill="none">
  <rect width="255" height="137" rx="10" fill="url(#paint0_radial_0_2333)" />
  <mask id="mask0_0_2333" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
      width="255" height="137">
    <rect width="255" height="137" rx="10" fill="white" />
  </mask>
  <g mask="url(#mask0_0_2333)">
    <g opacity="0.765433" filter="url(#filter0_f_0_2333)">
      <circle cx="-0.5" cy="-40.5" r="96" fill="#7AD8FB" />
    </g>
    <g filter="url(#filter1_f_0_2333)">
      <circle cx="304.5" cy="137.5" r="96" fill="#FBB57A" />
    </g>
  </g>
  <defs>
    <filter id="filter0_f_0_2333" x="-186.203" y="-226.203" width="371.407" height="371.407"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="44.8517" result="effect1_foregroundBlur_0_2333" />
    </filter>
    <filter id="filter1_f_0_2333" x="118.797" y="-48.2033" width="371.407" height="371.407"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="44.8517" result="effect1_foregroundBlur_0_2333" />
    </filter>
    <radialGradient id="paint0_radial_0_2333" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(264.945 -14.2296) rotate(146.823) scale(322.666 301.288)">
      <stop stop-color="#E84D70" />
      <stop offset="0.530886" stop-color="#A337F6" />
      <stop offset="1" stop-color="#28A7ED" />
    </radialGradient>
  </defs>
</svg>
<!-- TABLET -->
<svg *ngIf="isTablet" width="223" height="178" viewBox="0 0 223 178" fill="none">
  <rect width="223" height="178" rx="10" fill="url(#paint0_radial_0_2642)" />
  <mask id="mask0_0_2642" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
      width="223" height="178">
    <rect width="223" height="178" rx="10" fill="white" />
  </mask>
  <g mask="url(#mask0_0_2642)">
    <g opacity="0.765433" filter="url(#filter0_f_0_2642)">
      <ellipse cy="-52" rx="84" ry="125" fill="#7AD8FB" />
    </g>
    <g filter="url(#filter1_f_0_2642)">
      <ellipse cx="266" cy="180" rx="84" ry="125" fill="#FBB57A" />
    </g>
  </g>
  <defs>
    <filter id="filter0_f_0_2642" x="-173.703" y="-266.703" width="347.407" height="429.407"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="44.8517" result="effect1_foregroundBlur_0_2642" />
    </filter>
    <filter id="filter1_f_0_2642" x="92.2967" y="-34.7033" width="347.407" height="429.407"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="44.8517" result="effect1_foregroundBlur_0_2642" />
    </filter>
    <radialGradient id="paint0_radial_0_2642" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(231.697 -18.4881) rotate(135.832) scale(329.256 335.48)">
      <stop stop-color="#E84D70" />
      <stop offset="0.530886" stop-color="#A337F6" />
      <stop offset="1" stop-color="#28A7ED" />
    </radialGradient>
  </defs>
</svg>
<!-- MOBILE -->
<svg *ngIf="isMobile" width="100%" height="72" viewBox="0 0 375 72" fill="none"
    preserveAspectRatio="none">
  <rect width="375" height="72" fill="url(#paint0_radial_0_452)" />
  <mask id="mask0_0_452" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
      width="375" height="72">
    <rect width="375" height="72" fill="white" />
  </mask>
  <g mask="url(#mask0_0_452)">
    <g opacity="0.765433" filter="url(#filter0_f_0_452)">
      <ellipse cx="-55.507" cy="-21.0339" rx="141.385" ry="50.5618" fill="#7AD8FB" />
    </g>
    <g filter="url(#filter1_f_0_452)">
      <ellipse cx="468.466" cy="72.8089" rx="141.385" ry="50.5618" fill="#FBB57A" />
    </g>
  </g>
  <defs>
    <filter id="filter0_f_0_452" x="-286.595" y="-161.299" width="462.177" height="280.53"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="44.8517" result="effect1_foregroundBlur_0_452" />
    </filter>
    <filter id="filter1_f_0_452" x="237.378" y="-67.4562" width="462.177" height="280.53"
        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="44.8517" result="effect1_foregroundBlur_0_452" />
    </filter>
    <radialGradient id="paint0_radial_0_452" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(389.625 -7.47832) rotate(166.849) scale(407.855 184.218)">
      <stop stop-color="#E84D70" />
      <stop offset="0.530886" stop-color="#A337F6" />
      <stop offset="1" stop-color="#28A7ED" />
    </radialGradient>
  </defs>
</svg>
