@use 'index' as *;

:host {
  display: block;
  position: relative;
  border-radius: 10px;

  @include mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: url('/assets/images/logo-mobile.svg');
    border-radius: 0;
    height: 72px;
    width: 100%;
  }

  @include tablet {
    background: url('/assets/images/logo-tablet.svg');
    width: 223px;
    height: 178px;
  }

  @include desktop {
    background: url('/assets/images/logo-desktop.svg');
    width: 255px;
    height: 137px;
  }
}

hgroup {
  position: absolute;
  bottom: 24px;
  left: 24px;

  @include mobile {
    position: static;
  }
}

.title {
  // Typography
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.25px;

  @include mobile {
    font-size: 15px;
    letter-spacing: -0.187px;
  }
}

.subtitle {
  // Typography
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.75;

  @include mobile {
    font-size: 13px;
  }
}

.backdrop {
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0008;
  z-index: 1;

  .sidebar {
    position: fixed;
    right: 0;
    top: 72px;
    bottom: 0;
    background: #F7F8FD;
    padding: 24px;
    overflow-y: auto; // Enable vertical scrolling

    app-roadmap-view {
      margin-top: 24px;
    }
  }
}
