@use 'index' as *;

:host {
  display: block;

  &[data-roadmap] {
    button {
      color: #fff;
    }

    svg {
      stroke: #CDD2EE;
    }
  }
}

svg {
  stroke: #4661E6;
}

button {
  display: flex;
  align-items: center;
  gap: 16px;

  // Typography
  color: #647196;
  font-size: 14px;
  font-weight: 700;

  &:is(:hover, :focus-visible) {
    text-decoration-line: underline;
  }

  @include mobile {
    font-size: 13px;
  }
}
