@use 'reset';
@use 'fonts';
@use 'index' as *;

body {
  font-family: 'Jost', sans-serif;
  background: #F7F8FD;
  // background: white;
}

// Global classes
.g-required-error {
  margin-top: 4px;

  // Typography
  color: #D73737;
  font-size: 14px;

  @include mobile {
    font-size: 13px;
  }
}
