@use 'index' as *;

:host {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 94px 0 129px;

  @include tablet {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 56px 0 113px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
  }
}

.main {
  @include mobile {
    width: 327px;
  }

  @include tablet {
    width: 689px;
  }

  @include desktop {
    width: 825px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    flex-direction: row;
    gap: 10px;
  }
}

app-logo {
  @include mobile {
    left: 0;
  }
}

app-sort {
  margin-bottom: 24px;

  @include mobile {
    margin: 0;
    position: fixed;
    top: 72px;
    left: 0;
    z-index: 10;
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    gap: 16px;
  }

  @include mobile {
    padding: 160px 0 55px;
    align-items: center;
  }
}
